* {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    line-height: 26.4px;
}

h2 {
    line-height: 1.4em;
    margin-bottom: 0.2em;
}

p {
    line-height: 1.27em;
    margin-bottom: 0.2em;
}

div li {
    line-height: 1.27em;
}

button {
    margin: 0.5em;
    width: 10em;
    padding: 0.5em;
    border-radius: 5px;
    border: 3px solid;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: royalblue;
}

ul {
    list-style-type: none;
}

footer {
    height: 5vh;
    text-align: center;
    padding: 7px;
    background-color: #A4CEFF
}

section {
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(10, 1fr);
}

section>div {
    text-align: center;
}

table {
    display: inline;
    margin-bottom: 10px
}

td:first-child {
    text-align: left;
}

td:nth-child(2) {
    text-align: right;
}

th {
    padding: 1.5em 0 0.5em 0;
}

.main-content {
    grid-area: 2 / 2 / 9 / 10;
}

#menuSection {
    grid-template: 1.5em 1fr 1.5em / repeat(12, 1fr)
}

#menuSection>.main-content {
    grid-area: 2 / 2 / 2 / 12;
}



#heroContainer {
    background-image: url(media/logo-hiro-hibachi.jpg);
    background-size: cover;
    background-position-y: 35%;
    height: 200px;
    display: grid;
    grid-area: 1 / 1 / 10 / 11;
    grid-template: 40% 1fr 40% / 1fr;
}

#innerHero {
    grid-row-start: 2;
}

#hiroSpecialRoll {
    max-width: 300px;
}

@media only screen and (min-width: 1140px) {
    * {
        font-size: 18px;
    }
    #heroSection {
        display: block;
        background-color: #B81F21;
    }
    #heroContainer {
        width: 900px;
        height: 50vh;
        margin: 0 auto 0 auto;
    }
}
