* {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

@font-face{
    font-family: 'Gang of Three';
    src: url('./media/gang-of-three/go3v2.ttf');
}

h1 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1.1em;
    color: #E0D73C;
/*    Text stroke simulation Credit Chris Coyier https://css-tricks.com/adding-stroke-to-web-text/*/
    text-shadow:
        -3px -3px 0 #B81F21,
        3px -3px 0 #B81F21,
        -3px 3px 0 #B81F21,
        3px 3px 0  #B81F21;
    font-family: 'Gang of Three';
}

h2 {
    font-size: 1.3em;
    line-height: 1.4em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 1.15em
}

p {
    line-height: 1.27em;
    margin-bottom: 0.2em;
}

div li {
    line-height: 1.27em;
}

/*hvr button Credit IanLunn Hover.css*/

[class^="hvr-"] {
    margin: .4em;
    padding: 0.5em;
    cursor: pointer;
    background: #55C8E8;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    /* Prevent highlight colour when element is tapped */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* Smooth fonts */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@keyframes hvr-icon-down {
    0%,
    50%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%,
    75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
.hvr-icon-down {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-down .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.hvr-icon-down:hover .hvr-icon, .hvr-icon-down:focus .hvr-icon, .hvr-icon-down:active .hvr-icon {
    -webkit-animation-name: hvr-icon-down;
    animation-name: hvr-icon-down;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

a {
    text-decoration: none;
    color: royalblue;
}

ul {
    list-style-type: none;
}

footer {
    display: grid;
    grid-template-rows: 1 fr 1fr 1fr;
    height: 5vh;
    text-align: center;
    background-color: #ff000024;
}

footer>div {
    grid-row-start: 2
}

section {
    display: grid;
    grid-template: repeat(9, 1fr) / repeat(10, 1fr);
    background-color: #ff000006
}

section>div {
    text-align: center;
}

table {
    display: inline;
    margin-bottom: 10px
}

td:first-child {
    text-align: left;
}

td:nth-child(2) {
    text-align: right;
}

th {
    padding: 1.5em 0 0.5em 0;
}
/*Navigation desktop here*/
nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

nav a {
    float: left;
    display: block;
    height: 40px;
    color: #f2f2f2;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
    font-size: 1.02em;
}

nav a:hover {
    background-color: #B81F21;
    color: white;
    cursor: pointer;
}

.active {
    background-color: #B81F21;
    color: white;
}

nav .icon {
    display: none;
}
/*Navigation desktop here*/

.on-site {
    background: url(media/on-site-photo.jpg);
}

.food {
    background: url(media/super-hiro.jpg);
    background-position-y: 30%;
}

.img-section {
    height: 200px;
    background-size: cover;
    background-position-x: 50%;
}

.main-content {
    grid-area: 2 / 2 / 9 / 10;
}

.google-map-container {
    width: 100%;
    height: 350px
}

#menuSection {
    grid-template: 1.5em 1fr 1.5em / repeat(12, 1fr)
}

#menuSection>.main-content {
    grid-area: 2 / 2 / 2 / 12;
}

#heroContainer {
    background-image: url(media/logo-hiro-hibachi.jpg);
    background-size: cover;
    background-position-y: 35%;
    height: 200px;
    display: grid;
    grid-area: 1 / 1 / 10 / 11;
    grid-template: 40% 1fr 40% / 1fr;
}

#innerHero {
    grid-row-start: 2;
}

#hiroSpecialRoll {
    max-width: 300px;
}

@media only screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
        float: right;
        display: block;
    }
    nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
@media only screen and (min-width: 700px) {
    * {
        font-size: 18px;
    }
    h1 {
        line-height: 2.4em;
    }
    .img-section {
        height: 400px;
        background-position-y: 50%;
    }
    .food {
        background: url(media/dishes.png);
        background-position-y: 0;
        }
    #heroContainer {
        max-width: 900px;
        height: 45vh;
    }
}
@media only screen and (min-width: 1140px) {
    #heroSection {
        display: block;
        background-color: #B81F21
    }
    #heroContainer {
        height: 50vh;
        margin: 0 auto 0 auto;
    }
    #findUsSection>.main-content {
        grid-area: 2 / 4 / 9 / 8;
    }
}
